<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
</head>
  <body>
      <div class="container-fluid" id="app">
          <div class="row">
              <div class="col-3">
                <div class="form-group">
                    <label for="">縣市</label>
                    <select class="custom-select" name="" id="" v-model="select.city" @change="filterTown()">
                        <option :value="item.CityName" v-for="(item, key) in city">
                            {{ item.CityName }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">鄉鎮區</label>
                    <select class="custom-select" name="" id="" v-model="select.town" @change="setMarker()">
                        <option :value="item.AreaName" v-for="(item, key) in maptown">
                            {{ item.AreaName }}
                        </option>
                    </select>
                </div>
              </div>
              <div class="col-9">
                <div id="map" class="bg-info"></div>                 
              </div>
          </div>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        #map{
            height: 98vh;
        }
    </style>

    <script>
        var map;
        var app = new Vue({
            el: '#app',
            data: {
                text: 'hello',
                maskdata: [],
                city: [],
                select: {
                    city: "臺中市",
                    town: '',
                },
                maptown: [],
            },
            methods: {
                filterTown: function(){          //過濾城市
                    this.city.forEach(function(item){
                       if(item.CityName === app.select.city) {
                            app.maptown = item.AreaList
                       }
                    });
                },
                setMarker: function(){
                    this.maskdata.forEach(function(item){
                        if(item.properties.town === app.select.town && item.properties.county === app.select.city){
                            L.marker([item.geometry.coordinates[1], item.geometry.coordinates[0]]).addTo(map)
                            .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
                            .openPopup();
                        }
                    });
                }
            },
            mounted: function(){             //mounted 生命週期
                var mydata = [];
                 map = L.map('map').setView([25.061285, 121.565481], 10);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

               
                // $.get('points.json', function(data){
                //     console.log(data);
                //     this.maskdata = data.features;
                // }, 'json');

                // this.maskdata = {
                //     "name": "123"
                // }

                axios               //跟ajax一樣
                .get('points.json')
                .then(response => (this.maskdata = response.data.features));

                axios
                .get('CityCountyData.json')
                .then(response => ( this.city = response.data));
            }
        });
    </script>
</body>
</html>